@import "tailwindcss";

:root {
  --background: #eef6fd;
  --foreground: #eef6fd;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #eef6fd;
    --foreground: #eef6fd;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sora);
}

/* ================= HERO RIGHT PAGINATION ================= */

.hero-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: transparent;
  border: 2px solid #031b4e;
  opacity: 0.4;
  margin: 0 !important;
  transition: all 0.3s ease;
}

.hero-pagination .swiper-pagination-bullet-active {
  background: #031b4e;
  opacity: 1;
}
